# Logs
logs
*.log
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/pnpm-debug.log*
web/lerna-debug.log*

web/node_modules
web/dist
web/dist-ssr
web/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



# Virtual Environment
server/venv/
server/env/

# Dependency Management
server/requirements.txt
server/Pipfile
server/Pipfile.lock

# Compiled Files
*.pyc

# Environment Configuration
server/.env
web/.env

# Log and Temporary Files
server/*.log
server/*.tmp

# Exclude lib and bin directories if not using a virtual environment
server/lib/
server/bin/

# Developer extensions
*.todo